{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "react/prop-types": 0
  },
  "overrides": [
    {
      "files": "app/javascript/**/__fixtures__/*",
      "rules": {
        "react/display-name": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0
      }
    },
    {
      "files": "app/javascript/**/cosmos.decorator.js",
      "rules": {
        "react/display-name": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0
      }
    }
  ]
}
