@import "../../stylesheets/all.scss";

.public {
  &-DraftEditor {
    &-content {
      position: relative;
      padding: 1rem 2rem;
      font-size: 1rem;
      line-height: 2rem;

      [data-block] {
        padding: 0.5rem 0 1rem 4rem;
      }
    }
  }
}

.editor {
  position: relative;

  &__toolbar {
    z-index: 1;
    padding: 0.4375rem;
    pointer-events: all;

    &--hidden {
      opacity: 0;
      pointer-events: none;
      touch-action: none;
    }
  }

  &__gutter {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__block-handle {
    position: absolute;
    top: 0;
    left: 2.5rem;
    z-index: 1;
    display: flex;
    margin-top: 1rem;
    transition: transition(opacity);

    &--enter {
      opacity: 0;

      &-active,
      &-done {
        opacity: 1;
      }
    }

    &--exit {
      opacity: 1;

      &-active,
      &-done {
        opacity: 0;
      }
    }

    .button {
      &.button--toolbar {
        padding: 0;

        &:hover,
        &:focus,
        &:active {
          background: transparent;
          box-shadow: none;
        }
      }
    }

    .block-handle__drag {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  &__insertion-point {
    position: absolute;
    right: 0;
    left: 0;
    height: 0.25rem;
    margin: -0.125rem 0;
    background: color(cyan, 500, 0.5);
  }
}
