@import "../../stylesheets/all.scss";

.public {
  &-DraftEditor {
    &-content {
      position: relative;
      padding: 1rem 2rem;
      font-size: 1rem;
      line-height: 2rem;
    }
  }
}

.editor {
  position: relative;

  &__toolbar {
    z-index: 1;
    padding: 0.4375rem;
    pointer-events: all;

    &--hidden {
      opacity: 0;
      pointer-events: none;
      touch-action: none;
    }
  }

  &__gutter {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__block {
    position: relative;
    padding: 0.5rem 0 1rem 4rem;

    &-handle {
      position: absolute;
      top: 0.75rem;
      left: 0.5rem;
      z-index: 1;
      display: flex;
      opacity: 0;
      transition: transition(opacity, $delay: 50ms);

      .button {
        &.button--toolbar {
          padding: 0;

          &:hover,
          &:focus,
          &:active {
            background: transparent;
            box-shadow: none;
          }
        }
      }

      .block-handle__drag {
        cursor: grab;

        &:active {
          cursor: grabbing;
        }
      }
    }

    &:hover {
      .editor__block-handle {
        opacity: 1;
        transition-delay: 0;
      }
    }

    &--dragging {
      opacity: 0.5;
    }
  }

  &__insertion-point {
    position: absolute;
    right: 0;
    left: 0;
    height: 0.25rem;
    margin: -0.125rem 0;
    background: color(cyan, 500, 0.5);
  }

  .media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;

    &__image {
      width: 100%;
      height: auto;
    }
  }
}
