@import "../../stylesheets/all.scss";

@mixin button($color) {
  background: color($color);
  color: color($color, 50);

  &:focus {
    outline: 0.25rem solid color($color, $alpha: 0.25);
  }
}

.button {
  @include button(pink);

  display: flex;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.25rem;
  font-weight: 600;
}
