@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "./normalize";
@import "./all.scss";

* {
  box-sizing: border-box;
}

body,
html {
  font-size: 1em;
  font-family: "Work Sans", sans-serif;
}

@each $theme-name, $theme in $themes {
  [data-theme="#{$theme-name}"] {
    @include with-theme($theme-name) {
      background: themed(background);
      color: themed(foreground);
    }
  }
}
