@import "../../stylesheets/all.scss";

.icon {
  @include use-theme {
    color: themed(icon);
  }

  &--outline {
    fill: none;
    stroke: currentColor;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &--filled {
    fill: currentColor;
    stroke: none;
  }
}
